
{% load socialaccount %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CrWizard</title>
</head>
<body>
   
<h1>Login w/ Google </h1>
{% if user.is_authenticated %}
  <p>Welcome, You are logged in as {{ user.username }}
    <a href="{% url 'logout' %}">Logout</a>
  </p> 

  {% block content %} {% endblock %}



  
{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>